/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* Override default page styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kaushan Script', cursive;
    color:antiquewhite;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black url("../images/background.webp") no-repeat fixed center;
    background-size: cover;
}
/* Game container */
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    padding: 40px 60px;
    border: 1px solid antiquewhite;
    border-radius: 5%;
}

h2 {
    font-size: 3em;
    letter-spacing: 0.1em;
}

/* Button styling */
.reset {
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #6a39ce24;
    color: antiquewhite;
    font-size: 1.5rem;
    cursor: pointer;
}
button:hover {
    color:blueviolet;
}

/* Card game area */
.game {
    width: 440px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

/* Emoji styling */
.item{
    position: relative;
    width:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background-color: rgb(115 76 124 / 38%);
    border-radius: 5%;
    transition: 0.25s;
}